--CREATE TABLE country (country_name VARCHAR(15), ppp_val DECIMAL(20,12));
/*INSERT INTO country(country_name, ppp_val) VALUES ('Canada', 0.05325541216976), ('Singapore',0.03616459503853)
--,('U.K',0.0291762847254), ('France',0.03096445943900564), ('China',0.1803699657536), ('U.A.E',0.0915088090267064),
('HongKong',0.25306324182701);*/

SELECT * from country;